<h1>
  Kitten <%= @kitten.name %>
</h1>

<p>
  Age: <%= @kitten.age %><br>
  Cuteness: <%= @kitten.cuteness %><br>
  Softness: <%= @kitten.softness %><br>
</p>

<div>
  <%= link_to "Home", kittens_path %> <br>
  <%= link_to "Edit Kitten", edit_kitten_path(@kitten), 
      data: {turbo_method: :get, 
      turbo_confirm: "Do you want to edit #{@kitten.name}?"} %>
  <br>
  <%= link_to "Delete Kitten", kitten_path(@kitten), 
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <br>
</div>
